{% macro badge(repo, branch, workflow) -%}
<a href="https://github.com/{{ repo }}/actions/workflows/{{ workflow }}.yml?query=branch%3A{{ branch }}">
  <img src="{{ workflow }}](https://github.com/{{ repo }}/actions/workflows/{{ workflow }}.yml/badge.svg?branch={{ branch }}" />
</a>
{%- endmacro %}

{% macro format_repo(repo) -%}
<a href="https://github.com/{{ repo }}">
  <b>{{ repo }}</b>
</a>
{%- endmacro %}

{% macro format_branch(repo, branch) -%}
<a href="https://github.com/{{ repo }}/tree/{{ branch }}">
  {{ branch }}
</a>
{%- endmacro %}

{%- macro format_status(repo, branch, workflows) -%}
  {%- for workflow in workflows -%}
    {{ badge(repo, branch, workflow) }}
    {%- if not loop.last %} {% endif -%}
  {%- endfor -%}
{%- endmacro -%}

# Status {{ badge('cylc/cylc-admin', 'master', 'status') }}

## Nightly Builds

<table>
  <tr>
    <th>repo</th>
    <th>workflows</th>
  </tr>
{% for repo, workflows in nightly_actions.items() %}
  <tr>
    <td>{{ format_repo(repo) }}</td>
    <td>{{ format_status(repo, 'master', workflows) }}</td>
  </tr>
{%- endfor %}
</table>

## Branches

{% for meta_release, components in meta_releases.items() %}
### {{ meta_release }}

<table>
  <tr>
    <th>repo</th>
    <th>branch</th>
    <th>workflows</th>
  </tr>
{% for repo, branch in components.items() -%}
  <tr>
    <td>{{ format_repo(repo) }}</td>
    <td>{{ format_branch(repo, branch) }}</td>
    <td>{{ format_status(repo, branch, branch_actions.get(repo, [])) }}</td>
  </tr>
{%- endfor %}
</table>
{% endfor %}
