{% macro workflow_badge(repo, branch, workflow) -%}
<a href="https://github.com/{{ repo }}/actions/workflows/{{ workflow }}.yml?query=branch%3A{{ branch }}">
  <img src="https://github.com/{{ repo }}/actions/workflows/{{ workflow }}.yml/badge.svg?branch={{ branch }}" />
</a>
{%- endmacro %}

{% macro milestone_badge(repo, number, open=True) -%}
<a href="https://github.com/{{ repo }}/milestone/{{ number }}?q=is%3A{{ "open" if open else "closed" }}">
  <img src="https://img.shields.io/github/milestones/issues-{{ "open" if open else "closed" }}/{{ repo }}/{{ number }}" />
</a>
{%- endmacro %}

{% macro no_milestone_badge(repo) -%}
<a href="https://github.com/{{ repo }}/issues?q=is%3Aopen+no%3Amilestone">
  <img src="https://img.shields.io/github/issues-search/{{ repo }}?query=is%3Aopen%20no%3Amilestone&label=no%20milestone" />
</a>
{%- endmacro %}

{% macro issue_badge(repo) -%}
<a href="https://github.com/{{ repo }}/issues/?q=is%3Aopen+is%3Aissue">
  <img src="https://img.shields.io/github/issues-raw/{{ repo }}" />
</a>
{%- endmacro %}

{% macro issues_by_label_badge(repo, label) -%}
<a href="https://github.com/{{ repo }}/issues?q=is%3Aissue+is%3Aopen+label%3A{{ label }}">
  <img src="https://img.shields.io/github/issues/{{ repo }}/{{ label }}" />
</a>
{%- endmacro %}

{% macro prs_badge(repo) -%}
<a href="https://github.com/{{ repo }}/pulls">
  <img src="https://img.shields.io/github/issues-pr/{{ repo }}" />
</a>
{%- endmacro %}

{% macro format_repo(repo) -%}
<a href="https://github.com/{{ repo }}">
  <b>{{ repo }}</b>
</a>
{%- endmacro %}

{% macro format_branch(repo, branch) -%}
<a href="https://github.com/{{ repo }}/tree/{{ branch }}">
  {{ branch }}
</a>
{%- endmacro %}

{%- macro format_status(repo, branch, workflows) -%}
  {%- for workflow in workflows -%}
    {{ workflow_badge(repo, branch, workflow) }}
    {%- if not loop.last %} {% endif -%}
  {%- endfor -%}
{%- endmacro -%}

# Status

Cylc is a federated project made up of multiple separate components each
developed in its own repository. This page provides an overview dashboard to
make it easier to track the status of branches/releases/issues across these
repositories.

> **Note:**
> This file is auto-generated, to update the releases, branches or workflows
> edit the [branches.json file](https://github.com/cylc/cylc-admin/blob/master/docs/status/branches.json)
> and the page will be automatically rebuilt.

{{ workflow_badge('cylc/cylc-admin', 'master', 'status') }}

## Nightly Builds

<table>
  <tr>
    <th>repo</th>
    <th>workflows</th>
  </tr>
{% for repo, workflows in nightly_actions.items() %}
  <tr>
    <td>{{ format_repo(repo) }}</td>
    <td>{{ format_status(repo, 'master', workflows) }}</td>
  </tr>
{%- endfor %}
</table>

## Branches

This section lists the Cylc meta releases (8.0, 8.1, 8.2, etc) that are
currently under active development (including bugfixes), and which branches
this development takes place on in their respective repositories.

The `branches.json` file that this page is built from is used in our CI to
determine which branch to install. For example, the cylc-uiserver CI tests need
to install cylc-flow (because it is a dependency of cylc-uiserver), it uses
the `branches.json` file to work out which cylc-flow branch to use.

{% for meta_release, components in meta_releases.items() %}
### {{ meta_release }}

<table>
  <tr>
    <th>repo</th>
    <th>branch</th>
    <th>workflows</th>
  </tr>
{% for repo, branch in components.items() -%}
  <tr>
    <td>{{ format_repo(repo) }}</td>
    <td>{{ format_branch(repo, branch) }}</td>
    <td>{{ format_status(repo, branch, branch_actions.get(repo, [])) }}</td>
  </tr>
{%- endfor %}
</table>
{% endfor %}

## Issues

{% for repo in repos %}
### {{ repo }}

{{ issue_badge(repo) }} {{ prs_badge(repo) }} {{ issues_by_label_badge(repo, 'question') }} {{ issues_by_label_badge(repo, 'bug') }} {{ no_milestone_badge(repo) }}

<table style="margin-left:20px; margin-top:10px">
{% for milestone, number in list_milestones(repo) %}
<tr>
  <td>{{ milestone_badge(repo, number) }}</td>
  <td>{{ milestone_badge(repo, number, open=False) }}</td>
</tr>
{% endfor %}
</table>

{% endfor %}
